/** {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    
    z-index: 100;
    top: 0;
}

.logo {
    width: 160px;
    margin-right: 45px;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;


}

.nav-left ul li {
    list-style: none;
    display: inline-block;

}

.nav-left ul li img {
    width: 28px;
    margin: 0px 15px;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img {
    width: 18px;

}

.search-box input {
    background: transparent;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;


}

.nav-user-icon img {
    width: 40px;
    border-radius: 50%;

}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #efefef;
    background-color: #41db51;
    top: 0;
    right: 0;

}*/
.profile-container {
    padding: 20px 15%;
    color: #626262;
}

.cover-img {
    width: 100%;
    height: 400px;
    border-radius: 6px;
    margin-bottom: 14px;
}

.profile-details {
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: flex-start;
}

.pd-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3 {
    font-size: 25px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 13px;
}

.pd-row div img {
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}

.pd-right button {
    background: #1876f2;
    color: #fff;
    border: 0;
    padding: 5px 10px;
    display: inline-flex;
    border-radius: 3px;
    margin-left: 15px;
}

.pd-right button img {
    height: 20px;
    margin-right: 8px;
}

.pd-right button:first-child {
    background: #e4e6eb;
    color: black;
}

.pd-right {
    text-align: right;
}

.pd-right a {
    background: #e4e6eb;
    border-radius: 3px;
    padding: 10px;
    display: inline-flex;
    margin-top: 30px;
}

.pd-right a img {
    width: 20px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;

}

.info-col {
    flex-basis: 33%;

}

.post-col {
    flex-basis: 65%;
}

.pd-intro {
    background: var(--bg-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}


.info-col p {
    text-align: center;
    margin-top: 14px;
    font-size: 15px;
}

.info-col p img {
    width: 15px;
    margin-bottom: -3px;
}

.pd-intro hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}

.pd-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.pd-intro ul li img {
    width: 30px;
    margin-right: 10px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    cursor: pointer;
}

.pd-intro p {
    font-size: 14px;

}

.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.friends-box div img {
    width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div {
    position: relative;
}

.friends-box p {
    position: absolute;
    bottom: 0;
    left: 0;
}

/*----------media query for Profile page------*/

@media (max-width:900px) {
    .profile-container {
        padding: 20px 5%;
    }

    .profile-details {
        flex-wrap: wrap;
    }

    .pd-right {
        text-align: left;
        margin-top: 15px;
    }

    .pd-right button {
        margin-left: 0;
        margin-right: 10px;
    }

    .pd-row div h3 {
        font-size: 15px;
    }

    .profile-info {
        flex-wrap: wrap;
    }

    .info-col,
    .post-col {
        flex-basis: 100%;
    }
}
