*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-color: #efefef;
    --nav-color: #1876f2;
    --bg-color: #fff;

}

.dark-theme {
    --body-color: #0a0a0a;
    --nav-color: #000;
    --bg-color: #000;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 
}
.vd-left{
    position:sticky;
    flex-basis: 20%;
    background:var(--bg-color);
    height:100vh ;
    min-width: 325px;
    
}
.watch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}
.watch h2{
    padding: 10px 20px;
    color: #626262;
}
 .watch div i{
    display: block;
    padding-left: 6px;
    font-size: 20px;
    background: #ccc;
    margin-right: 15px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding-top: 6px;

}
.vd-right{
    flex-basis: 60%;
    padding-top: 10px;
    padding-right: 20px;
    height: 100vh;
    margin-right:80px;
    border-radius: 10px;
    min-width: 325px;
    
}

.menu-box{
    background:var(--bg-color);
    margin: 0;
    padding: 10px;
}
.active{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ccc;
    border-radius: 10px;
}
.active a{
    text-decoration: none;
    color:#626262;
}
.active div{
    font-size: 20px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background:blue;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
}
.test{
    display: flex;
    align-items: center;
    padding: 10px;
}
.test div{
    font-size: 20px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ccc;
    padding-left: 6px;
    padding-top: 5px;
}
.test h4, .active h4{
    padding-left: 10px;
    color: #626262;
}
.test:hover{
    background: #ccc;
    border-radius: 10px;
    }
.search{
    display: flex;
    background:#ccc;
    width: 310px;
    height: 35px;
    border-radius: 20px;
    margin: 15px;
    padding: 0 10px;
}

.search input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    margin-left: 10px;
}
.search img{
    width: 18px;
    height: 18px;
    margin-top: 6px;
}

/*----------vd-left-------------*/
.post-content{
    display: flex;
    margin: 10px;
}
.user-dp{
    display: flex;
    align-items: center;

}
.user-dp img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px
}
.user-dp a{
    margin-bottom: 5px;
    font-weight: 500;
    color: blue;
    text-decoration: none;
}
.user-dp span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-container h4 a{
    padding-top: 10px;

}
.post-container p{
    padding: 10px;
}
.post-container video{
    width: 800px;
    height: 500px;
    padding-bottom: 20px;
}

/*-------media---------*/
@media (max-width:900px) {

.vd-left{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 100%;
        height: 60px;
    margin-top: 0;
    z-index: 11;
    }
    .menu-box{
        display: flex;
        flex-wrap: wrap;
        height:0;
        margin-bottom: 10px;

    }
    .watch h2{
        font-size: 16px;
        padding: 5px;
        
    }
    .test h4{
        display: none;
    }
    .test div{
        font-size: 15px;
        height: 26px;
        width: 26px;
        margin-top:-10px;
    }
    .active{
    height: 40px;
    }
    .active div{
        font-size: 15px;
        height: 26px;
        width: 26px;
    }
    .active a{
        display: none;
    }
    .watch div i{
        display: none;
    }
    .vd-right{
    min-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }
    .search input{
        display: none;
    }
    .search{
        width: 30px;
        height: 30px;
        margin-top: px;
    margin-left: 80px;
        
    }
    .search{
        order: 3;

    }
    .menu-box{
        order: 2;
    }
    .hide, .active{
        display: none;
    }
    }



    
    

    
   /* @media only screen and (max-width: 1000px) {
        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .vd-left {
            min-width: 100%;
            height: 70px;
            z-index: 11;
        }
        .search {
            order: 3;
        }
        .menu-box div h4 {
            display: none;
        }
        .search {
            width: auto;
        }
        .watch div i {
            display: none;
        }
        .watch h2 {
            padding: 5px 10px;
            font-size: 16px;
            color: #626262;
        }
        .search input {
            display: none;
        }
        .vd-right{
            min-width: 100%;
            padding: 0;
            margin: 0;
            margin-top: 70px;
         }
         .main{
            justify-content: center;
          }
      }
    Write to Nitesh Dash*/
    