*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: space-between;
 
}
.vd-left{
    position:sticky;
    flex-basis: 20%;
    background: #fff;
    height:100vh ;
    margin: 0 30px;
}
.watch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
}
.watch h2{
    padding: 10px 20px;
}
 .watch div i{
    display: block;
    padding-left: 6px;
    font-size: 20px;
    background: #ccc;
    margin-right: 15px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding-top: 6px;

}
.vd-right{ 
    position: relative;
    flex-basis: 60%;
    padding-top: 10px;
    padding-right: 20px;
    height: 100vh;
    margin-right:80px;
    border-radius: 10px;
    
}

.menu-box{
    background: #fff;
    margin: 0;
    padding: 10px;
}
.active{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ccc;
    border-radius: 10px;
}
.active div{
    font-size: 20px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background:blue;
    padding-left: 5px;
    padding-top: 5px;
    color: #fff;
}
.test{
    display: flex;
    align-items: center;
    padding: 10px;
}
.test div{
    font-size: 20px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ccc;
    padding-left: 6px;
    padding-top: 5px;
}
.test h4, .active h4{
    padding-left: 10px;
}
.test:hover{
    background: #ccc;
    border-radius: 10px;
    }
.search{
    display: flex;
    background:#ccc;
    width: 310px;
    height: 35px;
    border-radius: 20px;
    margin: 15px;
    padding: 0 10px;
}

.search input{
    width: 100%;
    background: transparent;
    outline: none;
    border: 0;
    margin-left: 10px;
}
.search img{
    width: 18px;
    height: 18px;
    margin-top: 6px;
}

/*----------vd-left-------------*/
.post-content{
    display: flex;
    margin: 10px;
}
.user-dp{
    display: flex;
    align-items: center;

}
.user-dp img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px
}
.user-dp a{
    margin-bottom: 5px;
    font-weight: 500;
    color: blue;
    text-decoration: none;
}
.user-dp span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-container h4 a{
    padding-top: 10px;

}
.post-container p{
    padding: 10px;
}
.post-container video{
    width: 800px;
    height: 500px;
    padding-bottom: 20px;
}